/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  border: #009688 solid 100px;
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column; }

.imagen {
  background-image: url("../images/hojas.png");
  background-size: 100%;
  min-height: 500px;
  color: white; }
  .imagen .ion-ios-download-outline {
    font-size: 50px;
    border-radius: 50%;
    background: cadetblue;
    width: 50px;
    text-align: center;
    top: 420px;
    left: 920px;
    position: relative; }
  .imagen .ion-leaf {
    font-size: 20px;
    background: rgba(105, 200, 44, 0.5);
    width: 120px;
    font-family: 'montserrat';
    position: relative;
    right: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px; }

.detailcontent {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat'; }
  .detailcontent .details {
    background: #4CAF50;
    height: 200px;
    width: 200px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center; }
    .detailcontent .details .ion-ios-list-outline {
      font-size: 100px;
      padding-top: 30px; }
  .detailcontent .info {
    background: white;
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: gray;
    font-size: 15px;
    padding-left: 20px; }
    .detailcontent .info h3 {
      font-weight: bold; }
    .detailcontent .info p {
      font-weight: normal; }
  .detailcontent .rating {
    display: flex;
    flex-direction: column;
    color: gray;
    font-family: 'montserrat';
    justify-content: space-around;
    text-align: center; }
    .detailcontent .rating .stars {
      display: flex;
      flex-direction: row;
      color: cadetblue;
      font-size: 30px; }
    .detailcontent .rating h3 {
      font-size: 40px; }
    .detailcontent .rating h4 {
      font-size: 20px; }

/*# sourceMappingURL=style.css.map */
